extends layout

block content
  h1= title
  p Receitas Doces com Batata

  .container
    section.destaque
      h2 🍪 Doces Inesperados
      p Batata também pode ser doce!

    section.receitas
      h2 📖 Receitas Doces
      .grid
        .card
          h3 Bolinho de Batata Doce
          p Uma surpresa deliciosa para sobremesa.
        .card
          h3 Torta de Batata
          p Cremosa e irresistível.
        .card
          h3 Cookies de Batata
          p Inovação na confeitaria.