extends layout

block content
  h1= title
  p Receitas Salgadas com Batata

  .container
    section.destaque
      h2 🥘 Pratos Principais
      p Batata como estrela do prato!

    section.receitas
      h2 📖 Receitas Salgadas
      .grid
        .card
          h3 Batata Recheada
          p Com queijo e bacon, uma delícia.
        .card
          h3 Sopa de Batata
          p Quente e reconfortante.
        .card
          h3 Salada de Batata
          p Fresca e leve para o verão.